.jumbo-main {
    height: calc((100vh - 116px) - 120px);
    // background-size: cover;
    // background-position: top center;
    // background-image: url('assets(~public/img/jumbotron.jpg)');
    background-color: $bgAzzurro;

}
.jumbo-main img {
    width: 100%;
    object-fit: cover;
}